0_Temp/sorting/bubble_sort
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/settings.json
.idea
out
.vscode
python-for-coding-test.iml
.vscode/settings.json
0_Temp/0_Temp.iml
0_Temp/devide/d
.vscode/settings.json
0_Temp/tf/__pycache__/lab_utils_common.cpython-310.pyc
.gitignore
.gitignore
0_Temp/greedy/2.dSYM/Contents/Info.plist
0_Temp/greedy/2
0_Temp/greedy/2.dSYM/Contents/Resources/DWARF/2
.gitignore
0_Temp/tf/__pycache__/lab_utils_uni.cpython-310.pyc
